* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Manrope';
    font-weight: 300;
    src: url('../fonts/Manrope-300.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    font-weight: 400;
    src: url('../fonts/Manrope-400.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    font-weight: 500;
    src: url('../fonts/Manrope-500.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    font-weight: 600;
    src: url('../fonts/Manrope-600.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    font-weight: 700;
    src: url('../fonts/Manrope-700.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    font-weight: 800;
    src: url('../fonts/Manrope-800.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    font-weight: 400;
    src: url('../fonts/Poppins-400.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    font-weight: 500;
    src: url('../fonts/Poppins-500.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    font-weight: 600;
    src: url('../fonts/Poppins-600.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    font-weight: 700;
    src: url('../fonts/Poppins-700.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    font-weight: 800;
    src: url('../fonts/Poppins-800.woff2') format('woff2');
    font-display: swap;
}

body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .2px;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
}

.d-block {
    display: block;
}

::-webkit-scrollbar,
.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: flex-end;
}

.full-container {
    max-width: 100%;
    position: relative;
}

.main-content-container {
    max-width: 1250px;
    position: relative;
    margin-inline: auto;
}

.inner-content-container {
    max-width: 1170px;
    position: relative;
    margin-inline: auto;
}