@import 'common-colors';

.contact-us-bg {
    width: 100%;
    background: var(--primary-white-color);

    .contact-us-bg-container {
        max-width: 100%;
        margin-inline: auto;
        position: relative;

        .left-btm-abstract,
        .right-top-abstract {
            width: 290px;
            height: 416px;
            background-image: url('./../images/abstract-bg-btm.png');
            background-size: 100% 100%;
            background-repeat: no-repeat;
            opacity: 0.6;
            position: absolute;
        }

        .left-btm-abstract {
            bottom: 0;
            left: 0;
        }

        .right-top-abstract {
            top: 0;
            right: 0;
            rotate: 180deg;
        }

        .main-content-container {
            height: 100%;
            padding: 50px 15px;

            .content-container {
                width: 100%;
                height: 875px;
                background: rgba(202, 207, 215);
                border-radius: 20px;
                overflow: hidden;
                position: relative;

                .top-part {
                    width: 100%;
                    height: 210px;
                    background: linear-gradient(to bottom, rgba(27, 49, 93, 1), rgba(53, 77, 125, 1));

                    .txt-content {
                        width: 50%;
                        height: 100%;
                        flex-direction: column;

                        .header-txt {
                            font-size: 14px;
                            font-weight: 300;
                            padding: 5px 25px;
                            margin: 30px;
                            border-radius: 5px;
                            background: var(--white-color);
                            color: var(--black-color);
                            text-transform: uppercase;
                        }

                        .header-subtxt {
                            font-size: 35px;
                            font-weight: 700;
                            color: var(--white-color);
                            margin: 20px 30px;
                        }
                    }
                }

                .main-part-txt-section {
                    width: 100%;
                }
            }
        }
    }
}


.iti {
    width: 100%;
}

.iti__flag-container {
    margin-right: 5px;
}

.iti__selected-flag {
    height: 101%;
    padding: 0 9px;
    background-size: contain;
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: none;
}

.iti__country-name {
    margin-left: 10px;
}

.iti__country-list {
    min-width: 300px;
    width: 100%;
    max-height: 150px;
    margin: 0 0 0 -1px;
    z-index: 1;
}

.iti__dial-code {
    margin-left: 5px;
}

.iti--separate-dial-code {
    margin: 6px 0 0 0;
}

.iti__selected-dial-code {
    width: 36px;
    font-size: 15px;
    font-weight: 700;
}

.iti__arrow {
    width: 10px;
    height: 5px;
    background: rgb(0, 0, 0, 0.9);
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%, 0% 0%);
    border-left: none;
    border-right: none;
    border-top: none;
    transform: rotate(0deg);
    transition: all .3s ease-in-out;
}

.iti__arrow.iti__arrow--up {
    border-left: none;
    border-right: none;
    border-bottom: none;
    transform: rotate(-180deg);
    transition: all .3s ease-in-out;
}

#phone::placeholder {
    color: rgb(0, 0, 0, 0.25);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
}