:root {
  --primary-black-color: #000;
  --primary-white-color: #fff;
  --secondary-black-color: rgba(0, 0, 0, 0.5);
  --secondary-white-color: rgba(255, 255, 255, 0.5);
  --black-color: #121820;
  --white-color: #FAF9F6;
  --orange-color: #F58520;
  --blue-color: #1B315D;
  --grey-color: #808389;
  --box-shadow-color: rgba(0, 0, 0, 0.15);
  --border-color: rgba(0, 0, 0, 0.1);
}

.pg-nav-sticky {
  position: sticky;
  top: 0;
  z-index: 5;
}
.pg-nav-sticky .full-container .main-nav-container {
  width: 100%;
  height: 70px;
  position: relative;
  background: var(--primary-white-color);
  box-shadow: 0 0 10px var(--box-shadow-color);
}
.pg-nav-sticky .full-container .main-nav-container .main-content-container {
  height: 100%;
  padding: 0 15px;
}
.pg-nav-sticky .full-container .main-nav-container .main-content-container .nav-logo {
  width: 170px;
  height: 100%;
}
.pg-nav-sticky .full-container .main-nav-container .main-content-container .nav-logo a {
  height: 100%;
}
.pg-nav-sticky .full-container .main-nav-container .main-content-container .nav-logo a .logo-img {
  width: 70px;
  padding: 5px 0 0;
}
.pg-nav-sticky .full-container .main-nav-container .main-content-container .nav-menu {
  list-style-type: none;
}
.pg-nav-sticky .full-container .main-nav-container .main-content-container .nav-menu .nav-block-container {
  cursor: pointer;
}
.pg-nav-sticky .full-container .main-nav-container .main-content-container .nav-menu .nav-block-container .nav-tab-item {
  position: relative;
  height: 70px;
  font-size: 14px;
  font-weight: 400;
  color: var(--black-color);
  padding: 0 13px;
  cursor: pointer;
}
.pg-nav-sticky .full-container .main-nav-container .main-content-container .nav-menu .nav-block-container .nav-tab-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background: var(--orange-color);
  border-radius: 5px 5px 0 0;
  transition: all 0.3s ease-in-out;
}
.pg-nav-sticky .full-container .main-nav-container .main-content-container .nav-menu .nav-block-container .nav-tab-item.active {
  color: var(--orange-color);
}
.pg-nav-sticky .full-container .main-nav-container .main-content-container .nav-menu .nav-block-container .nav-tab-item.active::after {
  width: 100%;
}
.pg-nav-sticky .full-container .main-nav-container .main-content-container .nav-menu .nav-block-container .nav-tab-dropdown {
  display: none;
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translate(-50%, 0);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05), -5px 5px 5px rgba(0, 0, 0, 0.05), 0px 5px 5px rgba(0, 0, 0, 0.05);
  padding: 0 25px 25px;
  z-index: 1;
  background: var(--white-color);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.pg-nav-sticky .full-container .main-nav-container .main-content-container .nav-menu .nav-block-container .nav-tab-dropdown:hover {
  display: block;
}
.pg-nav-sticky .full-container .main-nav-container .main-content-container .nav-menu .nav-block-container .nav-tab-dropdown ul {
  list-style-type: none;
  padding: 10px 20px;
  width: 243px;
}
.pg-nav-sticky .full-container .main-nav-container .main-content-container .nav-menu .nav-block-container .nav-tab-dropdown ul li {
  padding: 10px 0 0;
}
.pg-nav-sticky .full-container .main-nav-container .main-content-container .nav-menu .nav-block-container .nav-tab-dropdown ul li a {
  font-size: 14px;
  font-weight: 400px;
  color: var(--black-color);
  line-height: 20px;
  text-wrap: wrap;
}
.pg-nav-sticky .full-container .main-nav-container .main-content-container .nav-menu .nav-block-container .nav-tab-dropdown ul li:hover a {
  font-weight: 700;
}
.pg-nav-sticky .full-container .main-nav-container .main-content-container .nav-menu .nav-block-container .nav-tab-dropdown ul .title {
  padding: 10px 0;
  font-size: 18px;
  font-weight: 700;
  color: var(--black-color);
  border-bottom: 1px solid rgba(37, 37, 37, 0.25);
  text-wrap: nowrap;
}
.pg-nav-sticky .full-container .main-nav-container .main-content-container .nav-menu .nav-block-container .nav-tab-dropdown ul:hover .title {
  color: var(--orange-color);
}
.pg-nav-sticky .full-container .main-nav-container .main-content-container .nav-menu .nav-block-container:hover .nav-tab-item {
  color: var(--orange-color);
  transition: all 0.2s ease-in-out;
}
.pg-nav-sticky .full-container .main-nav-container .main-content-container .nav-menu .nav-block-container:hover .nav-tab-item::after {
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.pg-nav-sticky .full-container .main-nav-container .main-content-container .nav-menu .nav-block-container:hover .nav-tab-dropdown {
  display: block;
}
.pg-nav-sticky .full-container .main-nav-container .main-content-container .nav-menu .nav-block-container.about-us:hover .nav-tab-dropdown {
  left: calc(50% - 95px);
}
.pg-nav-sticky .full-container .main-nav-container .main-content-container .nav-menu .nav-block-container.industries:hover .nav-tab-dropdown {
  left: calc(50% + 18px);
}
.pg-nav-sticky .full-container .main-nav-container .main-content-container .nav-worldwide-contact-us {
  width: 170px;
  height: 100%;
  gap: 15px;
}
.pg-nav-sticky .full-container .main-nav-container .main-content-container .nav-worldwide-contact-us .nav-worldwide {
  height: 100%;
}
.pg-nav-sticky .full-container .main-nav-container .main-content-container .nav-worldwide-contact-us .nav-worldwide a {
  height: 100%;
}
.pg-nav-sticky .full-container .main-nav-container .main-content-container .nav-worldwide-contact-us .nav-worldwide a .world-icon-img {
  width: 28px;
}
.pg-nav-sticky .full-container .main-nav-container .main-content-container .nav-worldwide-contact-us .nav-contact-us {
  height: 100%;
}
.pg-nav-sticky .full-container .main-nav-container .main-content-container .nav-worldwide-contact-us .nav-contact-us a {
  height: 100%;
}
.pg-nav-sticky .full-container .main-nav-container .main-content-container .nav-worldwide-contact-us .nav-contact-us a .contact-us-btn {
  height: 42px;
  width: 124px;
  border-radius: 10px;
  border: 1px solid var(--orange-color);
  background: var(--orange-color);
}
.pg-nav-sticky .full-container .main-nav-container .main-content-container .nav-worldwide-contact-us .nav-contact-us a .contact-us-btn p {
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  color: var(--white-color);
}
.pg-nav-sticky .full-container .main-nav-container .main-content-container .nav-worldwide-contact-us .nav-contact-us a .contact-us-btn:hover p {
  animation: btn-zoom 0.5s forwards ease-in-out;
}

@media (max-width: 1080px) {
  .full-container .black-nav-container .main-content-container .right-content .img-and-txt .icon-img {
    width: 22px;
  }
  .full-container .black-nav-container .main-content-container .right-content .img-and-txt p {
    font-size: 15px;
  }
  .pg-nav-sticky .full-container .main-nav-container .main-content-container .left-content .logo-img {
    width: 58px;
  }
  .pg-nav-sticky .full-container .main-nav-container .main-content-container .right-content .contact-us-btn {
    height: 40px;
    width: 116px;
  }
}
@media (max-width: 900px) {
  .full-container .black-nav-container .main-content-container .left-content {
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .full-container .black-nav-container .main-content-container .left-content {
    gap: 15px;
  }
  .full-container .black-nav-container .main-content-container .middle-content {
    display: none;
  }
  .full-container .black-nav-container .main-content-container .right-content .img-and-txt {
    gap: 8px;
  }
  .pg-nav-sticky .full-container .main-nav-container .main-content-container .left-content {
    margin: 0 0 0 0;
  }
  .pg-nav-sticky .full-container .main-nav-container .main-content-container .middle-content .nav-block-container .nav-tab-item {
    height: 65px;
    padding: 0 11px;
  }
}
@media (max-width: 600px) {
  .pg-nav-sticky {
    position: fixed;
    width: 100%;
  }
  .pg-nav-sticky .full-container .main-nav-container .main-content-container .m-nav {
    height: 65px;
    gap: 25px;
  }
  .pg-nav-sticky .full-container .main-nav-container .main-content-container .m-nav .global-icon-img {
    width: 25px;
    height: 26px;
  }
  .pg-nav-sticky .full-container .main-nav-container .main-content-container .m-nav .m-menu {
    height: 60px;
    width: 20px;
    position: relative;
    top: 0;
  }
  .pg-nav-sticky .full-container .main-nav-container .main-content-container .m-nav .m-menu .hamburger {
    width: 20px;
    height: 13px;
    border-top: 3px solid var(--black-color);
    border-bottom: 3px solid var(--black-color);
    position: absolute;
    right: -600px;
    top: 50%;
    transform: translate(0, -50%);
    transition: all 0.5s ease-in-out;
  }
  .pg-nav-sticky .full-container .main-nav-container .main-content-container .m-nav .m-menu .hamburger .middle-line {
    width: 65%;
    height: 2.5px;
    background: var(--black-color);
  }
  .pg-nav-sticky .full-container .main-nav-container .main-content-container .m-nav .m-menu .hamburger.active {
    right: 0;
    transition: all 0.5s ease-in-out;
  }
  .pg-nav-sticky .full-container .main-nav-container .main-content-container .m-nav .m-menu .nav-menu-close-btn {
    font-size: 40px;
    font-weight: 400;
    color: var(--black-color);
    position: absolute;
    right: -500px;
    top: 50%;
    transform: translate(0, -50%);
    transition: all 0.5s ease-in-out;
  }
  .pg-nav-sticky .full-container .main-nav-container .main-content-container .m-nav .m-menu .nav-menu-close-btn.active {
    right: 0;
    transition: all 0.5s ease-in-out;
  }
  .m-nav-slider {
    position: fixed;
    top: 65px;
    right: -500px;
    width: 100%;
    height: calc(100dvh - 60px);
    background: var(--white-color);
    color: var(--black-color);
    opacity: 0;
    z-index: 4;
    transition: all 0.5s ease-in-out;
  }
  .m-nav-slider.active {
    right: 0px;
    opacity: 1;
    transition: all 0.5s ease-in-out;
  }
  .m-nav-slider .container {
    padding: 15px;
    height: calc(100% - 30px);
    background: var(--primary-white-color);
  }
  .m-nav-slider .container .menu-list {
    width: 100%;
    height: calc(100% - 70px);
    overflow-y: auto;
  }
  .m-nav-slider .container .menu-list .details {
    height: 45px;
    font-size: 14px;
    font-weight: 500;
    background: var(--primary-white-color);
    color: var(--black-color);
    border: 1px solid transparent;
  }
  .m-nav-slider .container .menu-list details {
    background: var(--white-color);
    border: 1px solid transparent;
    border-radius: 8px;
  }
  .m-nav-slider .container .menu-list details summary {
    list-style: none;
  }
  .m-nav-slider .container .menu-list details summary::-webkit-details-marker {
    display: none;
  }
  .m-nav-slider .container .menu-list details summary span {
    height: 45px;
    color: var(--black-color);
    background: var(--primary-white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .m-nav-slider .container .menu-list details summary span h3 {
    font-size: 14px;
    font-weight: 500;
    text-align: start;
  }
  .m-nav-slider .container .menu-list details summary span .arrow {
    height: 7px;
    width: 14px;
    background: var(--black-color);
    -webkit-clip-path: polygon(0% 0%, 12% 0%, 50% 76%, 88% 0%, 100% 0%, 50% 100%, 0% 0%);
            clip-path: polygon(0% 0%, 12% 0%, 50% 76%, 88% 0%, 100% 0%, 50% 100%, 0% 0%);
    transform: rotate(0deg);
    transition: all 0.3s ease-in-out;
  }
  .m-nav-slider .container .menu-list details .htp-accord-list {
    background: var(--white-color);
    color: #555;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .m-nav-slider .container .menu-list details .htp-accord-list .list-item-link {
    border-bottom: 1px solid var(--border-color);
  }
  .m-nav-slider .container .menu-list details .htp-accord-list .list-item-link .list-item {
    height: 40px;
    font-size: 14px;
    font-weight: 700;
    color: var(--black-color);
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
  }
  .m-nav-slider .container .menu-list details .htp-accord-list .list-item-link:last-child {
    border-bottom: none;
  }
  .m-nav-slider .container .menu-list details .htp-accord-list details {
    background: var(--white-color);
    border: none;
  }
  .m-nav-slider .container .menu-list details .htp-accord-list details summary {
    list-style: none;
  }
  .m-nav-slider .container .menu-list details .htp-accord-list details summary::-webkit-details-marker {
    display: none;
  }
  .m-nav-slider .container .menu-list details .htp-accord-list details summary span {
    height: 40px;
    color: var(--black-color);
    background: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-top: 1px solid var(--border-color);
    border-radius: 0;
    transition: all 0.3s ease-in-out;
  }
  .m-nav-slider .container .menu-list details .htp-accord-list details summary span h3 {
    font-size: 14px;
    font-weight: 700;
    text-align: start;
  }
  .m-nav-slider .container .menu-list details .htp-accord-list details summary span .arrow {
    height: 7px;
    width: 14px;
    background: var(--black-color);
    -webkit-clip-path: polygon(0% 0%, 12% 0%, 50% 76%, 88% 0%, 100% 0%, 50% 100%, 0% 0%);
            clip-path: polygon(0% 0%, 12% 0%, 50% 76%, 88% 0%, 100% 0%, 50% 100%, 0% 0%);
    transform: rotate(0deg);
    transition: all 0.3s ease-in-out;
  }
  .m-nav-slider .container .menu-list details .htp-accord-list details .htp-accord-list {
    padding: 5px 15px;
    background: var(--white-color);
    color: var(--black-color);
    font-size: 14px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
  }
  .m-nav-slider .container .menu-list details .htp-accord-list details .htp-accord-list .list-item-link {
    padding: 8px 0;
  }
  .m-nav-slider .container .menu-list details .htp-accord-list details .htp-accord-list .list-item-link .list-item {
    height: auto;
    font-size: 13px;
    font-weight: 500;
    color: var(--black-color);
    display: flex;
    align-items: center;
  }
  .m-nav-slider .container .menu-list details .htp-accord-list details[open] {
    border: none;
  }
  .m-nav-slider .container .menu-list details .htp-accord-list details[open] summary span {
    padding: 0 15px;
    background: var(--white-color);
    color: var(--black-color);
    border-bottom: 1px solid var(--border-color);
    transition: all 0.3s ease-in-out;
  }
  .m-nav-slider .container .menu-list details .htp-accord-list details[open] summary span .arrow {
    background: var(--black-color);
    transform: rotate(-180deg);
    transition: all 0.3s ease-in-out;
  }
  .m-nav-slider .container .menu-list details .htp-accord-list details[open] .htp-accord-list .list-item-link .list-item {
    padding: 0;
  }
  .m-nav-slider .container .menu-list details[open] {
    border: 1px solid var(--border-color);
  }
  .m-nav-slider .container .menu-list details[open] summary span {
    padding: 0 15px;
    background: var(--orange-color);
    color: var(--white-color);
    border-radius: 8px 8px 0 0;
    transition: all 0.3s ease-in-out;
  }
  .m-nav-slider .container .menu-list details[open] summary span .arrow {
    background: var(--white-color);
    transform: rotate(-180deg);
    transition: all 0.3s ease-in-out;
  }
  .m-nav-slider .container .menu-list details[open] .htp-accord-list {
    border-radius: 0 0 8px 8px;
  }
  .m-nav-slider .container .menu-list details[open] .htp-accord-list .list-item-link .list-item {
    padding: 0 15px;
    transition: all 0.3s ease-in-out;
  }
  .m-nav-slider .container .contact-us-btn-container {
    width: 100%;
    height: 70px;
  }
  .m-nav-slider .container .contact-us-btn-container a {
    width: 100%;
  }
  .m-nav-slider .container .contact-us-btn-container a .contact-us-btn {
    font-size: 14px;
    font-weight: 500;
    background: var(--orange-color);
    color: var(--white-color);
    padding: 12px;
    border-radius: 10px;
  }
}/*# sourceMappingURL=navigation.css.map */