@import 'common-colors';

.full-container .black-nav-container {
    height: 52px;
    background: var(--black-color);

    .main-content-container {
        height: 100%;
        padding: 0 15px;

        .left-content {
            height: 100%;
            gap: 25px;

            a .block-txt {
                height: 100%;
                font-size: 12px;
                color: var(--white-color);
            }
        }

        .middle-content {
            height: 100%;
            font-size: 12px;
            color: var(--white-color);
            gap: 3px;

            p:first-child {
                font-weight: 700;
                text-wrap: nowrap;
            }
        }

        .right-content {
            height: 100%;
            padding-right: 10px;

            .img-and-txt {
                gap: 10px;

                .icon-img {
                    width: 24px;
                }

                p {
                    font-size: 16px;
                    color: var(--white-color);
                }
            }
        }
    }
}

.pg-nav-sticky {
    position: sticky;
    top: 0;
    z-index: 5;

    .full-container .main-nav-container {
        width: 100%;
        height: 65px;
        position: relative;
        background: var(--primary-white-color);
        box-shadow: 0 0 10px var(--box-shadow-color);

        .main-content-container {
            height: 100%;
            padding: 0 15px;

            .left-content {
                margin: 0 80px 0 0;

                .logo-img {
                    padding-top: 5px;
                    width: 60px;
                }
            }

            .middle-content {
                font-size: 13px;
                list-style-type: none;

                .nav-block-container {
                    cursor: pointer;

                    .nav-tab-item {
                        position: relative;
                        height: 65px;
                        font-size: 13px;
                        font-weight: 400;
                        color: var(--black-color);
                        padding: 0 13px;
                        cursor: pointer;

                        &::after {
                            content: "";
                            width: 0%;
                            height: 4px;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            background: var(--orange-color);
                            border-radius: 5px 5px 0 0;
                            transition: all .1s ease-in-out;
                        }

                        &.active {
                            color: var(--orange-color);

                            &::after {
                                width: 100%;
                            }
                        }
                    }

                    .nav-tab-dropdown {
                        display: none;
                        position: absolute;
                        top: 65px;
                        left: 50%;
                        transform: translate(-50%, 0);
                        box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.05), -5px 5px 5px rgb(0, 0, 0, 0.05), 0px 5px 5px rgb(0, 0, 0, 0.05);
                        padding: 0 25px 25px;
                        z-index: 1;
                        background: var(--white-color);
                        border-top: 1px solid rgba(0, 0, 0, 0.1);

                        &:hover {
                            display: block;
                        }

                        ul {
                            list-style-type: none;
                            padding: 10px 20px;
                            width: 215px;

                            li {
                                padding: 10px 0 0;

                                a {
                                    font-size: 14px;
                                    font-weight: 400px;
                                    color: var(--black-color);
                                    line-height: 20px;
                                    text-wrap: wrap;
                                }

                                &:hover a {
                                    font-weight: 700;
                                }
                            }

                            .title {
                                padding: 10px 0;
                                font-size: 18px;
                                font-weight: 700;
                                color: var(--black-color);
                                border-bottom: 1px solid rgba(37, 37, 37, 0.25);
                                text-wrap: nowrap;
                            }

                            &:hover .title {
                                color: var(--orange-color);
                            }
                        }
                    }

                    &:hover {
                        .nav-tab-item {
                            color: var(--orange-color);
                            transition: all .2s ease-in-out;

                            &::after {
                                width: 100%;
                                transition: all .3s ease-in-out;
                            }
                        }

                        .nav-tab-dropdown {
                            display: block;
                        }
                    }
                }
            }

            .right-content .contact-us-btn {
                height: 42px;
                width: 124px;
                font-size: 12px;
                font-weight: 600;
                text-align: center;
                border-radius: 10px;
                border: 1px solid var(--orange-color);
                background: var(--orange-color);
                color: var(--white-color);
                transition: all .3s ease-in-out;

                &:hover {
                    background: var(--black-color);
                    border: 1px solid var(--white-color);
                    transition: all .3s ease-in-out;
                }
            }
        }
    }
}

@media (max-width: 1080px) {
    .full-container .black-nav-container .main-content-container .right-content .img-and-txt {
        .icon-img {
            width: 22px;
        }

        p {
            font-size: 15px;
        }
    }


    .pg-nav-sticky .full-container .main-nav-container .main-content-container {
        .left-content {
            .logo-img {
                width: 58px;
            }
        }

        .right-content .contact-us-btn {
            height: 40px;
            width: 116px;
        }
    }
}

@media(max-width: 900px) {
    .full-container .black-nav-container .main-content-container .left-content {
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .full-container .black-nav-container .main-content-container {
        .left-content {
            gap: 15px;
        }

        .middle-content {
            display: none;
        }

        .right-content .img-and-txt {
            gap: 8px;
        }
    }

    .pg-nav-sticky .full-container .main-nav-container .main-content-container {
        .left-content {
            margin: 0 0 0 0;
        }

        .middle-content .nav-block-container .nav-tab-item {
            height: 60px;
            padding: 0 11px;
        }
    }
}


@media (max-width: 600px) {
    .pg-nav-sticky {
        position: fixed;
        width: 100%;

        .full-container .main-nav-container .main-content-container .m-nav {
            height: 65px;
            gap: 25px;

            .global-icon-img {
                width: 25px;
                height: 26px;
            }

            .m-menu {
                height: 60px;
                width: 20px;
                position: relative;
                top: 0;

                .hamburger {
                    width: 20px;
                    height: 13px;
                    border-top: 3px solid var(--black-color);
                    border-bottom: 3px solid var(--black-color);
                    position: absolute;
                    right: -600px;
                    top: 50%;
                    transform: translate(0, -50%);
                    transition: all .5s ease-in-out;

                    .middle-line {
                        width: 65%;
                        height: 2.5px;
                        background: var(--black-color);
                    }

                    &.active {
                        right: 0;
                        transition: all .5s ease-in-out;
                    }
                }

                .nav-menu-close-btn {
                    font-size: 40px;
                    font-weight: 400;
                    color: var(--black-color);
                    position: absolute;
                    right: -500px;
                    top: 50%;
                    transform: translate(0, -50%);
                    transition: all .5s ease-in-out;

                    &.active {
                        right: 0;
                        transition: all .5s ease-in-out;
                    }
                }
            }
        }
    }

    .m-nav-slider {
        position: fixed;
        top: 65px;
        right: -500px;
        width: 100%;
        height: calc(100dvh - 60px);
        background: var(--white-color);
        color: var(--black-color);
        opacity: 0;
        z-index: 4;
        transition: all .5s ease-in-out;

        &.active {
            right: 0px;
            opacity: 1;
            transition: all .5s ease-in-out;
        }

        .container {
            padding: 15px;
            height: calc(100% - 30px);
            background: var(--primary-white-color);

            .menu-list {
                width: 100%;
                height: calc(100% - 70px);
                overflow-y: auto;

                .details {
                    height: 45px;
                    font-size: 14px;
                    font-weight: 500;
                    background: var(--primary-white-color);
                    color: var(--black-color);
                    border: 1px solid transparent;
                }

                details {
                    background: var(--white-color);
                    border: 1px solid transparent;
                    border-radius: 8px;

                    summary {
                        list-style: none;

                        span {
                            height: 45px;
                            color: var(--black-color);
                            background: var(--primary-white-color);
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            cursor: pointer;
                            transition: all .3s ease-in-out;

                            h3 {
                                font-size: 14px;
                                font-weight: 500;
                                text-align: start;
                            }

                            .arrow {
                                height: 7px;
                                width: 14px;
                                background: var(--black-color);
                                clip-path: polygon(0% 0%, 12% 0%, 50% 76%, 88% 0%, 100% 0%, 50% 100%, 0% 0%);
                                transform: rotate(0deg);
                                transition: all .3s ease-in-out;
                            }
                        }
                    }

                    .htp-accord-list {
                        background: var(--white-color);
                        color: #555;
                        font-size: 14px;
                        font-weight: 500;
                        display: flex;
                        flex-direction: column;
                        overflow: hidden;

                        .list-item-link {
                            border-bottom: 1px solid var(--border-color);

                            .list-item {
                                height: 40px;
                                font-size: 14px;
                                font-weight: 700;
                                color: var(--black-color);
                                display: flex;
                                align-items: center;
                                transition: all .3s ease-in-out;
                            }

                            &:last-child {
                                border-bottom: none;
                            }
                        }

                        details {
                            background: var(--white-color);
                            border: none;

                            summary {
                                list-style: none;

                                span {
                                    height: 40px;
                                    color: var(--black-color);
                                    background: var(--white-color);
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    cursor: pointer;
                                    border-top: 1px solid var(--border-color);
                                    border-radius: 0;
                                    transition: all .3s ease-in-out;

                                    h3 {
                                        font-size: 14px;
                                        font-weight: 700;
                                        text-align: start;
                                    }

                                    .arrow {
                                        height: 7px;
                                        width: 14px;
                                        background: var(--black-color);
                                        clip-path: polygon(0% 0%, 12% 0%, 50% 76%, 88% 0%, 100% 0%, 50% 100%, 0% 0%);
                                        transform: rotate(0deg);
                                        transition: all .3s ease-in-out;
                                    }
                                }
                            }

                            .htp-accord-list {
                                padding: 5px 15px;
                                background: var(--white-color);
                                color: var(--black-color);
                                font-size: 14px;
                                font-weight: 500;
                                display: flex;
                                flex-direction: column;

                                .list-item-link {
                                    padding: 8px 0;

                                    .list-item {
                                        height: auto;
                                        font-size: 13px;
                                        font-weight: 500;
                                        color: var(--black-color);
                                        display: flex;
                                        align-items: center;
                                    }
                                }
                            }

                            &[open] {
                                border: none;

                                summary span {
                                    padding: 0 15px;
                                    background: var(--white-color);
                                    color: var(--black-color);
                                    border-bottom: 1px solid var(--border-color);
                                    transition: all .3s ease-in-out;

                                    .arrow {
                                        background: var(--black-color);
                                        transform: rotate(-180deg);
                                        transition: all .3s ease-in-out;
                                    }

                                }

                                .htp-accord-list .list-item-link .list-item {
                                    padding: 0;
                                }
                            }
                        }
                    }

                    &[open] {
                        border: 1px solid var(--border-color);

                        summary span {
                            padding: 0 15px;
                            background: var(--orange-color);
                            color: var(--white-color);
                            border-radius: 8px 8px 0 0;
                            transition: all .3s ease-in-out;

                            .arrow {
                                background: var(--white-color);
                                transform: rotate(-180deg);
                                transition: all .3s ease-in-out;
                            }

                        }

                        .htp-accord-list {
                            border-radius: 0 0 8px 8px;

                            .list-item-link .list-item {
                                padding: 0 15px;
                                transition: all .3s ease-in-out;
                            }
                        }
                    }
                }
            }

            .contact-us-btn-container {
                width: 100%;
                height: 70px;

                a {
                    width: 100%;

                    .contact-us-btn {
                        font-size: 14px;
                        font-weight: 500;
                        background: var(--orange-color);
                        color: var(--white-color);
                        padding: 12px;
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}