:root {
  --primary-black-color: #000;
  --primary-white-color: #fff;
  --secondary-black-color: rgba(0, 0, 0, 0.5);
  --secondary-white-color: rgba(255, 255, 255, 0.5);
  --black-color: #121820;
  --white-color: #FAF9F6;
  --orange-color: #F58520;
  --blue-color: #1B315D;
  --grey-color: #808389;
}

.pg-nav-sticky {
  position: sticky;
  top: 0;
  z-index: 2;
}
.pg-nav-sticky .full-container .black-nav-container {
  width: 100%;
  height: 52px;
  background: var(--black-color);
}
.pg-nav-sticky .full-container .black-nav-container .main-content-container {
  height: 100%;
  padding: 0 15px;
}
.pg-nav-sticky .full-container .black-nav-container .main-content-container .left-content {
  height: 100%;
  gap: 25px;
}
.pg-nav-sticky .full-container .black-nav-container .main-content-container .left-content a .block-txt {
  height: 100%;
  font-size: 12px;
  color: var(--white-color);
}
.pg-nav-sticky .full-container .black-nav-container .main-content-container .middle-content {
  font-size: 12px;
  text-align: center;
  color: var(--white-color);
  gap: 3px;
}
.pg-nav-sticky .full-container .black-nav-container .main-content-container .middle-content p:first-child {
  font-weight: 700;
  text-wrap: nowrap;
}
.pg-nav-sticky .full-container .black-nav-container .main-content-container .right-content {
  padding: 0 10px 0 0;
}
.pg-nav-sticky .full-container .black-nav-container .main-content-container .right-content .img-and-txt {
  gap: 10px;
}
.pg-nav-sticky .full-container .black-nav-container .main-content-container .right-content .img-and-txt .icon-img {
  width: 24px;
}
.pg-nav-sticky .full-container .black-nav-container .main-content-container .right-content .img-and-txt p {
  font-size: 16px;
  color: var(--white-color);
}
.pg-nav-sticky .full-container .main-nav-container {
  width: 100%;
  height: 65px;
  position: relative;
  background: var(--white-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.pg-nav-sticky .full-container .main-nav-container .main-content-container {
  height: 100%;
  padding: 0 15px;
}
.pg-nav-sticky .full-container .main-nav-container .main-content-container .left-content {
  margin: 0 70px 0 0;
}
.pg-nav-sticky .full-container .main-nav-container .main-content-container .left-content .logo-img {
  width: 60px;
}
.pg-nav-sticky .full-container .main-nav-container .main-content-container .middle-content {
  font-size: 13px;
  list-style-type: none;
}
.pg-nav-sticky .full-container .main-nav-container .main-content-container .middle-content .nav-block-container {
  cursor: pointer;
}
.pg-nav-sticky .full-container .main-nav-container .main-content-container .middle-content .nav-block-container:hover .nav-tab-item {
  color: var(--orange-color);
  transition: all 0.2s ease-in-out;
}
.pg-nav-sticky .full-container .main-nav-container .main-content-container .middle-content .nav-block-container:hover .nav-tab-item::after {
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.pg-nav-sticky .full-container .main-nav-container .main-content-container .middle-content .nav-block-container:hover .nav-tab-dropdown {
  display: block;
}
.pg-nav-sticky .full-container .main-nav-container .main-content-container .middle-content .nav-block-container .nav-tab-item {
  position: relative;
  height: 65px;
  font-size: 13px;
  font-weight: 400;
  color: var(--black-color);
  padding: 0 13px;
  cursor: pointer;
}
.pg-nav-sticky .full-container .main-nav-container .main-content-container .middle-content .nav-block-container .nav-tab-item::after {
  content: "";
  width: 0%;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--orange-color);
  border-radius: 5px 5px 0 0;
  transition: all 0.1s ease-in-out;
}
.pg-nav-sticky .full-container .main-nav-container .main-content-container .middle-content .nav-block-container .nav-tab-item.active {
  color: var(--orange-color);
}
.pg-nav-sticky .full-container .main-nav-container .main-content-container .middle-content .nav-block-container .nav-tab-item.active::after {
  width: 100%;
}
.pg-nav-sticky .full-container .main-nav-container .main-content-container .middle-content .nav-block-container .nav-tab-dropdown {
  display: none;
  position: absolute;
  top: 65px;
  left: 50%;
  transform: translate(-50%, 0);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05), -5px 5px 5px rgba(0, 0, 0, 0.05), 0px 5px 5px rgba(0, 0, 0, 0.05);
  padding: 0 50px 50px;
  z-index: 1;
  background: var(--white-color);
}
.pg-nav-sticky .full-container .main-nav-container .main-content-container .middle-content .nav-block-container .nav-tab-dropdown:hover {
  display: block;
}
.pg-nav-sticky .full-container .main-nav-container .main-content-container .middle-content .nav-block-container .nav-tab-dropdown ul {
  list-style-type: none;
  padding: 10px 20px;
  width: 215px;
}
.pg-nav-sticky .full-container .main-nav-container .main-content-container .middle-content .nav-block-container .nav-tab-dropdown ul li {
  padding: 10px 0 0;
}
.pg-nav-sticky .full-container .main-nav-container .main-content-container .middle-content .nav-block-container .nav-tab-dropdown ul li:first-child {
  padding: 10px 0;
  font-size: 18px;
  font-weight: 700;
  color: var(--black-color);
  border-bottom: 1px solid rgba(37, 37, 37, 0.25);
  text-wrap: nowrap;
}
.pg-nav-sticky .full-container .main-nav-container .main-content-container .middle-content .nav-block-container .nav-tab-dropdown ul li a {
  font-size: 14px;
  font-weight: 400px;
  color: var(--black-color);
  line-height: 20px;
  text-wrap: wrap;
}
.pg-nav-sticky .full-container .main-nav-container .main-content-container .middle-content .nav-block-container .nav-tab-dropdown ul li:hover a {
  font-weight: 700;
}
.pg-nav-sticky .full-container .main-nav-container .main-content-container .middle-content .nav-block-container .nav-tab-dropdown ul:hover li:first-child {
  color: var(--orange-color);
}
.pg-nav-sticky .full-container .main-nav-container .main-content-container .right-content .contact-us-btn {
  height: 42px;
  width: 129px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  border-radius: 10px;
  border: 1px solid var(--orange-color);
  background: var(--orange-color);
  color: var(--white-color);
  transition: all 0.3s ease-in-out;
}
.pg-nav-sticky .full-container .main-nav-container .main-content-container .right-content .contact-us-btn:hover {
  background: var(--white-color);
  color: var(--black-color);
  transition: all 0.3s ease-in-out;
}/*# sourceMappingURL=navigation.css.map */