:root {
  --black-color: #252525;
  --black-color-primary: rgba(37, 37, 37, 0.5);
  --grey-color: #808389;
  --white-color: #FAF9F6;
  --white-color-primary: rgba(250, 249, 246, 0.5);
  --orange-color: #F58520;
  --blue-color: #4383C3;
}

.why-choose-bg {
  width: 100%;
  background: var(--white-color);
}
.why-choose-bg .why-choose-container {
  max-width: 100%;
  margin-inline: auto;
  position: relative;
}
.why-choose-bg .why-choose-container .left-btm-abstract,
.why-choose-bg .why-choose-container .right-top-abstract {
  width: 290px;
  height: 416px;
  background-image: url("./../images/abstract-bg-btm.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: 0.6;
  position: absolute;
}
.why-choose-bg .why-choose-container .left-btm-abstract {
  bottom: 0;
  left: 0;
}
.why-choose-bg .why-choose-container .right-top-abstract {
  top: 0;
  right: 0;
  rotate: 180deg;
}
.why-choose-bg .why-choose-container .main-content-container {
  height: 100%;
  padding: 50px 15px;
}
.why-choose-bg .why-choose-container .main-content-container .content-container {
  width: 100%;
}
.why-choose-bg .why-choose-container .main-content-container .content-container .heading-txt {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 13px;
  font-weight: 700;
  padding: 7px 90px 7px 10px;
  color: var(--white-color);
  background: var(--black-color);
  border-radius: 4px;
}
.why-choose-bg .why-choose-container .main-content-container .content-container .why-choose-title .why-choose-title-txt {
  font-size: 48px;
  font-weight: 700;
  padding: 10px 0 0;
  color: var(--orange-color);
}
.why-choose-bg .why-choose-container .main-content-container .content-container .why-choose-title .why-choose-subtitle-txt {
  font-size: 18px;
  font-weight: 400;
  padding: 15px 0 0;
  color: var(--black-color);
}
.why-choose-bg .why-choose-container .main-content-container .content-container .learn-more-btn {
  width: -moz-fit-content;
  width: fit-content;
  padding: 14px 30px;
  margin: 25px 0 0;
  color: var(--white-color);
  background: var(--black-color);
  gap: 12px;
  border-radius: 10px;
}
.why-choose-bg .why-choose-container .main-content-container .content-container .learn-more-btn p {
  font-size: 12px;
  font-weight: 600;
  text-wrap: nowrap;
}
.why-choose-bg .why-choose-container .main-content-container .content-container .learn-more-btn .arrow {
  width: 20px;
}
.why-choose-bg .why-choose-container .main-content-container .content-container .cards {
  height: 100%;
  padding: 20px 0 0 0;
  gap: 25px;
}
.why-choose-bg .why-choose-container .main-content-container .content-container .cards .vertical-card {
  width: 100%;
  gap: 25px;
}
.why-choose-bg .why-choose-container .main-content-container .content-container .cards .vertical-card .card {
  background: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 10px;
}
.why-choose-bg .why-choose-container .main-content-container .content-container .cards .vertical-card .card .txt {
  padding: 20px 0;
}
.why-choose-bg .why-choose-container .main-content-container .content-container .cards .vertical-card .card .txt .heading {
  font-size: 24px;
  font-weight: 700;
  color: var(--orange-color);
}
.why-choose-bg .why-choose-container .main-content-container .content-container .cards .vertical-card .card .txt .subtxt {
  width: 60%;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  padding: 20px 0 0;
  text-wrap: wrap;
  color: var(--grey-color);
}
.why-choose-bg .why-choose-container .main-content-container .content-container .cards .vertical-card .card:hover {
  background: linear-gradient(#1B315D, #354D7D);
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}
.why-choose-bg .why-choose-container .main-content-container .content-container .cards .vertical-card .card:hover .txt .heading,
.why-choose-bg .why-choose-container .main-content-container .content-container .cards .vertical-card .card:hover .txt .subtxt {
  color: var(--white-color);
}
.why-choose-bg .why-choose-container .main-content-container .content-container .cards .vertical-card .card .card-img {
  width: 350px;
}
.why-choose-bg .why-choose-container .main-content-container .content-container .cards .horizontal-card {
  width: 55%;
  border-radius: 10px;
}
.why-choose-bg .why-choose-container .main-content-container .content-container .cards .horizontal-card .card {
  height: 100%;
  flex-direction: column;
  background: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.why-choose-bg .why-choose-container .main-content-container .content-container .cards .horizontal-card .card .txt .heading {
  font-size: 24px;
  font-weight: 700;
  padding: 50px 50px 0 50px;
  color: var(--orange-color);
}
.why-choose-bg .why-choose-container .main-content-container .content-container .cards .horizontal-card .card .txt .subtxt {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  padding: 15px 50px 0 50px;
  color: var(--grey-color);
}
.why-choose-bg .why-choose-container .main-content-container .content-container .cards .horizontal-card .card .card-img-container {
  padding: 50px;
}
.why-choose-bg .why-choose-container .main-content-container .content-container .cards .horizontal-card .card .card-img-container .card-img {
  width: 85%;
  margin-inline: auto;
}
.why-choose-bg .why-choose-container .main-content-container .content-container .cards .horizontal-card .card:hover {
  background: linear-gradient(#1B315D, #354D7D);
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}
.why-choose-bg .why-choose-container .main-content-container .content-container .cards .horizontal-card .card:hover .txt .heading,
.why-choose-bg .why-choose-container .main-content-container .content-container .cards .horizontal-card .card:hover .txt .subtxt {
  color: var(--white-color);
}

.our-presence-bg {
  width: 100%;
  background: var(--black-color);
}
.our-presence-bg .main-content-container {
  height: 100%;
  padding: 50px 15px;
}
.our-presence-bg .main-content-container .our-presence-container {
  width: 100%;
}
.our-presence-bg .main-content-container .our-presence-container .title {
  font-size: 36px;
  font-weight: 500;
  text-align: center;
  color: var(--white-color);
}
.our-presence-bg .main-content-container .our-presence-container .subtxt {
  max-width: 500px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  padding: 10px 0 0;
  margin-inline: auto;
  color: var(--white-color-primary);
}
.our-presence-bg .main-content-container .our-presence-container .our-presence-map {
  width: 100%;
  padding: 50px 0 0;
  flex-direction: column;
}
.our-presence-bg .main-content-container .our-presence-container .our-presence-map .map-legends-container {
  gap: 40px;
  padding: 0 0 30px 0;
}
.our-presence-bg .main-content-container .our-presence-container .our-presence-map .map-legends-container .legends-box1 {
  border: 1px solid var(--blue-color);
  padding: 4px;
}
.our-presence-bg .main-content-container .our-presence-container .our-presence-map .map-legends-container .legends-box1 .inner-box {
  width: 11px;
  height: 11px;
  background: var(--blue-color);
}
.our-presence-bg .main-content-container .our-presence-container .our-presence-map .map-legends-container .legends-box2 {
  border: 1px solid var(--orange-color);
  padding: 4px;
}
.our-presence-bg .main-content-container .our-presence-container .our-presence-map .map-legends-container .legends-box2 .inner-box {
  width: 11px;
  height: 11px;
  background: var(--orange-color);
}
.our-presence-bg .main-content-container .our-presence-container .our-presence-map .map-legends-container .legends-txt {
  font-size: 14px;
  color: var(--white-color);
  padding: 0 0 0 8px;
}
.our-presence-bg .main-content-container .our-presence-container .our-presence-map .map-container {
  max-width: 800px;
  position: relative;
}
.our-presence-bg .main-content-container .our-presence-container .our-presence-map .map-container .map-img {
  max-width: 100%;
}
.our-presence-bg .main-content-container .our-presence-container .our-presence-map .map-container .countries-position {
  position: absolute;
}
.our-presence-bg .main-content-container .our-presence-container .our-presence-map .map-container .countries-position.navimumbai {
  top: 63%;
  left: 67.1%;
}
.our-presence-bg .main-content-container .our-presence-container .our-presence-map .map-container .countries-position.mexico {
  top: 60%;
  left: 18.5%;
}
.our-presence-bg .main-content-container .our-presence-container .our-presence-map .map-container .countries-position.madagascar {
  top: 78.8%;
  left: 59.7%;
}
.our-presence-bg .main-content-container .our-presence-container .our-presence-map .map-container .countries-position.southafrica {
  top: 85.5%;
  left: 52.2%;
}
.our-presence-bg .main-content-container .our-presence-container .our-presence-map .map-container .countries-position.uk {
  top: 45%;
  left: 46.1%;
}
.our-presence-bg .main-content-container .our-presence-container .our-presence-map .map-container .countries-position.russia {
  top: 41%;
  left: 56%;
}
.our-presence-bg .main-content-container .our-presence-container .our-presence-map .map-container .countries-position.thailand {
  top: 67%;
  left: 73.8%;
}
.our-presence-bg .main-content-container .our-presence-container .our-presence-map .map-container .countries-position .countries-spot-point {
  height: 6px;
  width: 6px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.our-presence-bg .main-content-container .our-presence-container .our-presence-map .map-container .countries-position .countries-spot-point.branch {
  background: var(--orange-color);
}
.our-presence-bg .main-content-container .our-presence-container .our-presence-map .map-container .countries-position .countries-spot-point.branch:hover {
  animation: pulse-animation 1s infinite;
}
@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px var(--orange-color);
  }
  100% {
    box-shadow: 0 0 0 15px rgba(245, 133, 32, 0);
  }
}
.our-presence-bg .main-content-container .our-presence-container .our-presence-map .map-container .countries-position .countries-spot-point.entities {
  background: var(--blue-color);
}
.our-presence-bg .main-content-container .our-presence-container .our-presence-map .map-container .countries-position .countries-spot-point.entities:hover {
  animation: pulse-animation-blue 1s infinite;
}
@keyframes pulse-animation-blue {
  0% {
    box-shadow: 0 0 0 0px var(--blue-color);
  }
  100% {
    box-shadow: 0 0 0 15px rgba(67, 131, 195, 0);
  }
}
.our-presence-bg .main-content-container .our-presence-container .our-presence-map .map-container .countries-position .countries-spot-point:hover + .countries-spot-container {
  display: block;
}
.our-presence-bg .main-content-container .our-presence-container .our-presence-map .map-container .countries-position .countries-spot-container {
  display: none;
  width: 150px;
  background: var(--white-color);
  position: absolute;
  bottom: 20px;
  left: 0;
  transform: translate(-50%, 0);
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.15);
}
.our-presence-bg .main-content-container .our-presence-container .our-presence-map .map-container .countries-position .countries-spot-container::after {
  content: "";
  width: 20px;
  height: 10px;
  position: absolute;
  bottom: 0%;
  left: 52%;
  transform: translate(-50%, 96%);
  background: var(--white-color);
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 50% 100%, 0% 0%);
          clip-path: polygon(0% 0%, 100% 0%, 50% 100%, 0% 0%);
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.15);
}
.our-presence-bg .main-content-container .our-presence-container .our-presence-map .map-container .countries-position .countries-spot-container .country-name {
  font-size: 16px;
  font-weight: 700;
  color: var(--orange-color);
  padding: 0 0 3px;
  text-transform: uppercase;
}
.our-presence-bg .main-content-container .our-presence-container .our-presence-map .map-container .countries-position .countries-spot-container .city-name {
  font-size: 12px;
  font-weight: 500;
  color: var(--black-color);
  margin: 10px 0 0 15px;
  text-transform: uppercase;
}
.our-presence-bg .main-content-container .our-presence-container .our-presence-map .map-container .countries-position .countries-spot-container .city-name li {
  line-height: 19px;
}
.our-presence-bg .main-content-container .our-presence-container .our-presence-map .map-container .countries-position.active .countries-spot-point.branch {
  animation: pulse-animation 1s infinite;
}
.our-presence-bg .main-content-container .our-presence-container .our-presence-map .map-container .countries-position.active .countries-spot-point.entities {
  animation: pulse-animation-blue 1s infinite;
}
.our-presence-bg .main-content-container .our-presence-container .our-presence-map .map-container .countries-position.active .countries-spot-container {
  display: block;
}

.services-cards {
  height: 370px;
  flex-direction: column;
  background: rgb(250, 249, 246);
  border-radius: 10px;
  border: 1px solid rgba(37, 37, 37, 0.1);
}/*# sourceMappingURL=why-excis.css.map */