$primary-black-color: #000;
$primary-white-color: #fff;
$secondary-black-color: rgba(0, 0, 0, 0.5);
$secondary-white-color: rgba(255, 255, 255, 0.5);

$black-color: #121820;
$white-color: #FAF9F6;
$orange-color: #F58520;
$blue-color: #1B315D;
$grey-color: #808389;

$light-blue-color: rgb(54, 98, 200);

:root {
    --primary-black-color: #{$primary-black-color};
    --primary-white-color: #{$primary-white-color};
    --secondary-black-color: #{$secondary-black-color};
    --secondary-white-color: #{$secondary-white-color};

    --black-color: #{$black-color};
    --white-color: #{$white-color};
    --orange-color: #{$orange-color};
    --blue-color: #{$blue-color};
    --grey-color: #{$grey-color};

    --light-blue-color: #{$light-blue-color};
}


.why-choose-bg {
    width: 100%;
    background: var(--primary-white-color);

    .why-choose-container {
        max-width: 100%;
        margin-inline: auto;
        position: relative;

        .left-btm-abstract,
        .right-top-abstract {
            width: 290px;
            height: 416px;
            background-image: url('./../images/abstract-bg-btm.png');
            background-size: 100% 100%;
            background-repeat: no-repeat;
            opacity: 0.6;
            position: absolute;
        }

        .left-btm-abstract {
            bottom: 0;
            left: 0;
        }

        .right-top-abstract {
            top: 0;
            right: 0;
            rotate: 180deg;
        }

        .main-content-container {
            height: 100%;
            padding: 50px 15px;

            .content-container {
                width: 100%;

                .heading-txt {
                    width: fit-content;
                    font-size: 13px;
                    font-weight: 700;
                    padding: 7px 90px 7px 10px;
                    color: var(--white-color);
                    background: var(--black-color);
                    border-radius: 4px;
                }

                .why-choose-title {
                    .why-choose-title-txt {
                        font-size: 48px;
                        font-weight: 700;
                        padding: 10px 0 0;
                        color: var(--orange-color);
                    }

                    .why-choose-subtitle-txt {
                        font-size: 18px;
                        font-weight: 400;
                        padding: 15px 0 0;
                        color: var(--black-color);
                    }
                }

                .learn-more-btn {
                    width: fit-content;
                    padding: 14px 30px;
                    margin: 25px 0 0;
                    color: var(--white-color);
                    background: var(--black-color);
                    gap: 12px;
                    border-radius: 10px;
                    border: 1px solid var(--black-color);
                    transition: all .3s ease-in-out;

                    s p {
                        font-size: 12px;
                        font-weight: 600;
                        text-wrap: nowrap;
                    }

                    .arrow {
                        width: 20px;
                    }

                    &:hover {
                        background: var(--white-color);
                        color: var(--black-color);
                        transition: all .3s ease-in-out;
                    }
                }

                .cards {
                    height: 100%;
                    padding: 20px 0 0 0;
                    gap: 25px;

                    .vertical-card {
                        width: 100%;
                        gap: 25px;

                        .card {
                            background: var(--white-color);
                            border: 1px solid rgb(0, 0, 0, 0.1);
                            max-width: 100%;
                            padding: 30px 50px;
                            border-radius: 10px;

                            .txt {
                                padding: 20px 0;

                                .heading {
                                    font-size: 24px;
                                    font-weight: 700;
                                    color: var(--orange-color);
                                }

                                .subtxt {
                                    width: 60%;
                                    font-size: 14px;
                                    font-weight: 400;
                                    line-height: 25px;
                                    padding: 20px 0 0;
                                    text-wrap: wrap;
                                    color: var(--grey-color);
                                }
                            }

                            &:hover {
                                background: linear-gradient(#1B315D, #354D7D);
                                border: 1px solid transparent;
                                transition: all .2s ease-in-out;

                                .txt {

                                    .heading,
                                    .subtxt {
                                        color: var(--white-color);
                                    }
                                }
                            }

                            .card-img {
                                width: 350px;
                            }
                        }
                    }

                    .horizontal-card {
                        width: 55%;
                        border-radius: 10px;

                        .card {
                            height: 100%;
                            flex-direction: column;
                            background: var(--white-color);
                            border: 1px solid rgb(0, 0, 0, 0.1);
                            border-radius: 10px;

                            .txt {
                                .heading {
                                    font-size: 24px;
                                    font-weight: 700;
                                    padding: 50px 50px 0 50px;
                                    color: var(--orange-color);
                                }

                                .subtxt {
                                    font-size: 16px;
                                    font-weight: 400;
                                    line-height: 25px;
                                    padding: 15px 50px 0 50px;
                                    color: var(--grey-color);
                                }
                            }

                            .card-img-container {
                                padding: 50px;

                                .card-img {
                                    width: 85%;
                                    margin-inline: auto;
                                }
                            }

                            &:hover {
                                background: linear-gradient(#1B315D, #354D7D);
                                border: 1px solid transparent;
                                transition: all .2s ease-in-out;

                                .txt {

                                    .heading,
                                    .subtxt {
                                        color: var(--white-color);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.our-presence-bg {
    width: 100%;
    background: var(--black-color);

    .main-content-container {
        height: 100%;
        padding: 50px 15px;

        .our-presence-container {
            width: 100%;

            .title {
                font-size: 38px;
                font-weight: 500;
                text-align: center;
                color: var(--white-color);
            }

            .subtxt {
                max-width: 500px;
                font-size: 16px;
                font-weight: 400;
                line-height: 22px;
                text-align: center;
                padding: 10px 0 0;
                margin-inline: auto;
                color: var(--grey-color);
            }

            .our-presence-map {
                width: 100%;
                padding: 50px 0 0;
                flex-direction: column;

                .map-legends-container {
                    gap: 40px;
                    padding: 0 0 30px 0;

                    .legends-box1 {
                        border: 1px solid var(--orange-color);
                        padding: 4px;

                        .inner-box {
                            width: 11px;
                            height: 11px;
                            background: var(--orange-color);
                        }
                    }

                    .legends-box2 {
                        border: 1px solid var(--light-blue-color);
                        padding: 4px;

                        .inner-box {
                            width: 11px;
                            height: 11px;
                            background: var(--light-blue-color);
                        }
                    }

                    .legends-txt {
                        font-size: 15px;
                        color: var(--white-color);
                        padding: 0 0 0 8px;
                        line-height: 20px;
                    }
                }

                .map-container {
                    max-width: 800px;
                    position: relative;

                    .map-img {
                        max-width: 100%;
                    }

                    .countries-position {
                        position: absolute;

                        &.navimumbai {
                            top: 63%;
                            left: 67.1%;
                        }

                        &.mexico {
                            top: 60%;
                            left: 18.5%;
                        }

                        &.madagascar {
                            top: 78.8%;
                            left: 59.7%;
                        }

                        &.southafrica {
                            top: 85.5%;
                            left: 52.2%;
                        }

                        &.uk {
                            top: 45%;
                            left: 46.1%;
                        }

                        &.russia {
                            top: 41%;
                            left: 56%;
                        }

                        &.thailand {
                            top: 67%;
                            left: 73.8%;
                        }

                        .countries-spot-point {
                            height: 6px;
                            width: 6px;
                            position: absolute;
                            top: 0;
                            left: 0;
                            border-radius: 50%;
                            box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
                            cursor: pointer;

                            &.branch {
                                background: var(--orange-color);
                            }

                            &.entities {
                                background: var(--light-blue-color);
                            }
                        }

                        .countries-spot-container {
                            display: none;
                            width: 150px;
                            background: var(--white-color);
                            position: absolute;
                            bottom: 20px;
                            left: 0;
                            transform: translate(-50%, 0);
                            padding: 10px 20px;
                            border-radius: 5px;
                            box-shadow: 0 0 10px 2px rgb(0, 0, 0, 0.15);

                            &::after {
                                content: '';
                                width: 20px;
                                height: 10px;
                                position: absolute;
                                bottom: 0%;
                                left: 52%;
                                transform: translate(-50%, 96%);
                                background: var(--white-color);
                                clip-path: polygon(0% 0%, 100% 0%, 50% 100%, 0% 0%);
                                box-shadow: 0 0 5px 5px rgb(0, 0, 0, 0.15);
                            }

                            .country-name {
                                font-size: 16px;
                                font-weight: 700;
                                padding: 0 0 3px;
                                text-transform: uppercase;
                            }

                            .city-name {
                                font-size: 12px;
                                font-weight: 500;
                                color: var(--black-color);
                                margin: 6px 0 0 15px;
                                text-transform: uppercase;

                                li {
                                    line-height: 19px;
                                }
                            }
                        }

                        .countries-spot-point {
                            &.branch+.countries-spot-container {
                                .country-name {
                                    color: var(--orange-color);
                                }
                            }

                            &.entities+.countries-spot-container {
                                .country-name {
                                    color: var(--light-blue-color);
                                }
                            }
                        }

                        &.active {
                            .countries-spot-point {
                                &.branch {
                                    animation: pulse-animation 1s infinite;
                                }

                                &.entities {
                                    animation: pulse-animation-blue 1s infinite;
                                }

                                @keyframes pulse-animation {
                                    0% {
                                        box-shadow: 0 0 0 0px var(--orange-color);
                                    }

                                    100% {
                                        box-shadow: 0 0 0 15px rgba(245, 133, 32, 0);
                                    }
                                }

                                @keyframes pulse-animation-blue {
                                    0% {
                                        box-shadow: 0 0 0 0px var(--light-blue-color);
                                    }

                                    100% {
                                        box-shadow: 0 0 0 15px rgb(54, 98, 200, 0);
                                    }
                                }
                            }

                            .countries-spot-container {
                                display: block;
                                z-index: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}

.our-services-bg {
    width: 100%;
    background: var(--primary-white-color);

    .our-services-container {
        max-width: 100%;
        margin-inline: auto;
        position: relative;

        .left-btm-abstract,
        .right-top-abstract {
            width: 290px;
            height: 416px;
            background-image: url('./../images/abstract-bg-btm.png');
            background-size: 100% 100%;
            background-repeat: no-repeat;
            opacity: 0.6;
            position: absolute;
        }

        .left-btm-abstract {
            bottom: 0;
            left: 0;
        }

        .right-top-abstract {
            top: 0;
            right: 0;
            rotate: 180deg;
        }

        .main-content-container {
            height: 100%;
            padding: 50px 15px;

            .content-container {
                width: 100%;

                .services-title-txt {
                    font-size: 38px;
                    font-weight: 500;
                    text-align: center;
                    color: var(--orange-color);
                }

                .services-subtitle-txt {
                    max-width: 500px;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 22px;
                    text-align: center;
                    padding: 10px 0 0;
                    margin-inline: auto;
                    color: var(--black-color);
                }

                .service-cards-container {
                    padding: 30px 0 0;

                    .cards {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        gap: 30px;

                        .card {
                            height: 370px;
                            flex-direction: column;
                            background: var(--white-color);
                            border-radius: 10px;
                            border: 1px solid rgba(37, 37, 37, 0.1);
                            overflow: hidden;
                            transition: all .3s ease-in-out;

                            .top-part {
                                padding: 20px 25px;

                                .creative-img {
                                    width: 100px;
                                    margin-inline: auto;
                                }

                                .title {
                                    font-size: 30px;
                                    font-weight: 700;
                                    text-align: center;
                                    padding: 20px 0 0;
                                    color: var(--blue-color);
                                }

                                .subtitle {
                                    font-size: 15px;
                                    font-weight: 500;
                                    text-align: center;
                                    padding: 15px 0 0;
                                    color: var(--black-color);
                                    text-wrap: wrap;
                                }
                            }

                            .btm-part {
                                height: 55px;
                                border-top: 1px solid rgba(37, 37, 37, 0.1);

                                p {
                                    font-size: 15px;
                                    font-weight: 700;
                                    color: var(--blue-color);
                                    padding: 0;
                                    border-bottom: 1px solid var(--blue-color);
                                    transition: all .3s ease-in-out;
                                }
                            }

                            &:hover {
                                box-shadow: 0 0 10px 5px rgb(0, 0, 0, 0.05);
                                transition: all .3s ease-in-out;

                                .btm-part {
                                    background: var(--blue-color);
                                    border-top: 1px solid var(--white-color);
                                    transition: all .3s ease-in-out;

                                    p {
                                        font-size: 17px;
                                        color: var(--white-color);
                                        border-bottom: 1px solid var(--white-color);
                                        transition: all .3s ease-in-out;
                                    }
                                }
                            }
                        }
                    }
                }

                .learn-more-btn-container {
                    width: fit-content;
                    padding: 14px 45px;
                    margin: 40px auto 0;
                    gap: 12px;
                    color: var(--black-color);
                    background: var(--white-color);
                    border: 1px solid var(--black-color);
                    border-radius: 10px;
                    transition: all .3s ease-in-out;

                    &:hover {
                        background: var(--black-color);
                        color: var(--white-color);
                        transition: all .3s ease-in-out;
                    }

                    p {
                        font-size: 12px;
                        font-weight: 600;
                        text-wrap: nowrap;
                    }

                    .arrow-img {
                        width: 20px;
                    }
                }
            }
        }
    }
}

.stats-bg {
    width: 100%;
    background: linear-gradient(#1B315D, #354D7D);

    .main-content-container {
        height: 100%;
        padding: 50px 15px;

        .content-container {
            width: 100%;
            padding: 80px 0;

            .stats-space {
                max-width: 1000px;
                height: 110px;
                margin-inline: auto;

                .stats-column p {
                    &:first-child {
                        font-size: 80px;
                        font-weight: 700;
                        line-height: 80px;
                        color: var(--white-color);
                    }

                    &:last-child {
                        font-size: 24px;
                        font-weight: 300;
                        padding: 10px 0 0;
                        color: var(--white-color);
                    }
                }

                .stats-line-breaker {
                    height: 100%;
                    width: 1.5px;
                    margin: 0 40px;
                    background: var(--white-color);
                }
            }
        }
    }
}

// .services-list,
// .services-list-backdrop {
//     display: none;
// }

// .services:hover .services-list {
//     display: block;
// }

// .services:hover .services-list-backdrop {
//     display: block;
// }

// .services-list-backdrop:hover {
//     display: none;
// }